<div class="top-bar">
  <img src="../../../../assets/images/ontimize_web_log.png" alt="Ontimize logo" height="40px" width="138px">
  <div class="right-container">
    <div class="light-mode-container">
      <a href="https://ontimizeweb.github.io/docs/v15/" target="_blank">
        <div class="doc-btn">Docs</div>
      </a>
      <a href="https://github.com/OntimizeWeb" target="_blank">
        <img src="../../assets/images/github_light.png" *ngIf="lightBtn" />
        <img src="../../assets/images/github_dark.png" *ngIf="!lightBtn" />
      </a>
      <img src="../../assets/images/toggle_light.png" (click)="setDarkMode(true)" *ngIf="lightBtn" />
      <img src="../../assets/images/toggle_dark.png" (click)="setDarkMode(false)" *ngIf="!lightBtn" />
    </div>
  </div>
</div>
<div class="top-div"></div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
