@use '@angular/material'as mat;

@mixin main-theme($theme) {
  $primary: map-get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $typography: map-get($theme, typography);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);
  $is-dark: map-get($theme, color, is-dark);

  .top-bar {
    @if $is-dark {
      background-color: #28343E;
      border-color: mat.get-color-from-palette($background, level-0);

      .doc-btn {
        border-color: #FFFFFF61;
        color: #FFFFFFBD;
      }
    }

    @else {
      background-color: mat.get-color-from-palette($foreground, divider);
      border-color: mat.get-color-from-palette($background, level-0);

      .doc-btn {
        border-color: #00000061;
        color: #000000BD;
      }
    }

  }

  .main-container {
    @if $is-dark {
      background-color: #293239;
    }

    @else {
      background-color: #F0F2F4;
    }
  }

  .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c40-0.mdc-text-field--filled.mdc-text-field--no-label {
    @if $is-dark {
      background-color: #242A2E;
    }

    @else {
      background-color: #DADDDF;
    }
  }
}