<div class="top-bar">
  <img src="../../../../assets/images/ontimize_web_log.png" alt="Ontimize logo" height="40px" width="138px">
  <div class="light-mode-container">
    <button *ngIf="light" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button *ngIf="!light" mat-icon-button [matMenuTriggerFor]="menu" class="dark-btn">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setDarkMode(false)">
        <mat-icon>light_mode</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="setDarkMode(true)">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="top-div"></div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
