@use '@angular/material'as mat;

@mixin main-theme($theme) {
  $primary: map-get($theme, color, primary);
  $is-dark: map-get($theme, color, is-dark);

  .top-bar {
    background-color: mat.get-color-from-palette($primary, top-bar);
    border-color: mat.get-color-from-palette($primary, top-bar-border);

    .doc-btn {
      border-color: mat.get-color-from-palette($primary, doc-bnt-border);
      color: mat.get-color-from-palette($primary, doc-btn-color);
    }

    @if $is-dark {

      .github-img {
        background-image: url('../../assets/images/github_dark.png');
      }

      .toggle-theme {
        background-image: url('../../assets/images/toggle_dark.png');
      }
    }

    @else {

      .github-img {
        background-image: url('../../assets/images/github_light.png');
      }

      .toggle-theme {
        background-image: url('../../assets/images/toggle_light.png');
      }
    }

  }

  .main-container {
    background-color: mat.get-color-from-palette($primary, main-container);
  }
}