@use '@angular/material'as mat;

@mixin detail-theme($theme) {
  $primary: map-get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $typography: map-get($theme, typography);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);
  $is-dark: map-get($theme, color, is-dark);

  .top-container {
    button {
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  .right-container {

    .img-container {
      img {
        @if $is-dark {
          box-shadow: 6.6px 8.26px 14.86px 0px #00000040;
        }

        @else {
          box-shadow: 0px 4px 4px 0px #00000029;
        }
      }
    }
  }

  .left-container {

    h1,
    h3 {
      color: mat.get-color-from-palette($foreground, text);
    }

    .github-btn {
      background-color: mat.get-color-from-palette($primary, 500);

      @if $is-dark {
        color: #000000DE;
      }

      @else {
        color: #FFFFFFDE;
      }
    }
  }
}