@use '@angular/material'as mat;

@mixin detail-theme($theme) {
  $primary: map-get($theme, color, primary);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);
  $is-dark: map-get($theme, color, is-dark);

  .top-container {
    button {
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  .right-container {

    .ellipsis {
      float: left;
      width: 32px;
      height: 32px;
      margin-top: 20px;
      margin-right: 10px;
      background-image: url('/assets/images/ellipse.svg');
    }

    @if $is-dark {
      .ellipsis {
        float: left;
        width: 32px;
        height: 32px;
        margin-top: 20px;
        margin-right: 10px;
        background-image: url('/assets/images/ellipse-dark.svg');
      }
    }

    .img-container {
      o-gallery-image {
        @if $is-dark {
          box-shadow: 6.6px 8.26px 14.86px 0px #00000040;
        }
      }
    }

    .description {
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  .left-container {

    h1,
    h3 {
      color: mat.get-color-from-palette($foreground, text);
    }

    .github-btn {

      @if $is-dark {
        color: #000000DE;
      }

      @else {
        color: #FFFFFFDE;
      }

      .mdc-button__label {
        @if $is-dark {
          fill: #000000DE;
        }

        @else {
          fill: #FFFFFFDE;
        }
      }
    }
  }
}