.top-container {
  display: flex;
  justify-content: flex-start;
  padding: 40px 232px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  padding: 40px 232px;

  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-decoration: none;

      .github-btn {
        display: flex;
        height: 64px;
        background-color: #1464A5;
        color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 10px;
        }
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .img-container {
      width: 700px;
      height: 400px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}