<div class="top-container">
  <o-button attr="back-btn" label="&#8592; Go back" (click)="openHome()"></o-button>
</div>
<div class="bottom-container">
  <div class="left-container">
    <div class="text">
      <h1>{{ templateTitle }}</h1>
      <h3>{{ templateDescription }}</h3>
    </div>
    <o-button attr="github-btn" type="flat" color="primary" class="github-btn" svg-icon="ontimize:github-btn{{dark}}" label="Github Link"></o-button>
  </div>
  <div class="right-container">
    <div class="img-container">
      <o-gallery #gallery [gallery-images]="galleryImages" [gallery-options]="galleryOptions"></o-gallery>
    </div>
    <div *ngIf="detail" fxLayoutAlign="row" fxLayoutGap="40px">
      <img src="assets/images/ellipse{{dark}}.svg" alt="ellipse" width="32px" height="32px" class="ellipsis">
      <div [innerHTML]="templateBottomDescription" class="description"></div>
    </div>
  </div>
</div>
