mat-grid-tile.mat-grid-tile.ng-star-inserted {
  background-color: white;
  max-width: 350px;
  min-width: 350px;
  border-radius: 5px;

  .container-item {
    >img {
      margin-left: 95%;
    }

    >img:first-child {
      margin-left: 0;
      width: 100%;
    }
  }
}

body {
  overflow: hidden;
}

.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c40-0.mdc-text-field--filled.mdc-text-field--no-label {
  background-color: #DADDDF;
}