mat-grid-tile.mat-grid-tile.ng-star-inserted {
  background-color: white;
  max-width: 350px;
  min-width: 350px;
  border-radius: 5px;

  .container-item {
    >img {
      margin-left: 95%;
    }

    >img:first-child {
      margin-left: 0;
      width: 100%;
    }
  }
}

body {
  overflow: hidden;
}

.top-container {
  button {
    border: none;
    background-color: transparent;
    font-size: 18px;
  }
}