@use '@angular/material'as mat;

@mixin home-theme($theme) {
  $primary: map-get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $typography: map-get($theme, typography);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);
  $is-dark: map-get($theme, color, is-dark);

  @if $is-dark {
    mat-grid-tile.mat-grid-tile.ng-star-inserted {
      border: 2px solid #2B353D;
      box-shadow: none;
    }

    .home-container {

      .filters {
        p {
          color: #FFFFFFBD;
        }

        .search-filter.o-search-input {
          box-shadow: 0px 0px 0px 1px #FFFFFF24;

          .mat-mdc-text-field-wrapper.mdc-text-field {
            background-color: #242A2E;
          }

          .mat-mdc-form-field-icon-prefix {
            background-color: #2A333A;
          }
        }

        o-checkbox {
          border-color: #00000029;
          background-color: #242A2E;
        }
      }
    }

    .content-container {

      .container-item {
        h4 {
          color: #B9D1E4;
        }

        h5 {
          color: #FFFFFFBD;
        }

        .open-icon {
          background-image: url('../../../assets/images/open_detail_dark.png');
        }
      }

      h1 {
        color: #FFFFFFDE;
      }

      h2 {
        color: #75A7FF;
      }
    }

    mat-grid-tile.mat-grid-tile.ng-star-inserted {
      background-color: #242A2E;
    }
  }

  @else {
    mat-grid-tile.mat-grid-tile.ng-star-inserted {
      box-shadow: 0px 4px 8px 0px #00000040;
    }

    .home-container {

      .filters {

        .search-filter.o-search-input {
          box-shadow: 0px 0px 0px 1px #FFFFFF24;

          .mat-mdc-text-field-wrapper.mdc-text-field {
            background-color: #DADDDF;
          }

          .mat-mdc-form-field-icon-prefix {
            background-color: #D3D5D6;
          }
        }

        p {
          color: #000000BD;
        }

        o-checkbox {
          border-color: #00000029;
          background-color: #DADDDF;
        }
      }
    }

    .content-container {

      .container-item {
        h4 {
          color: #1464A5;
        }

        h5 {
          color: #000000BD;
        }

        .open-icon {
          background-image: url('../../../assets/images/open_detail_light.png');
        }
      }

      h1 {
        color: #293239;
      }

      h2 {
        color: #1464A5;
      }
    }
  }
}