@use '@angular/material'as mat;

@mixin home-theme($theme) {
  $primary: map-get($theme, color, primary);
  $is-dark: map-get($theme, color, is-dark);

  .home-container {
    .filters {
      p {
        color: mat.get-color-from-palette($primary, doc-btn-color);
      }

      .search-filter.o-search-input {
        box-shadow: 0px 0px 0px 1px mat.get-color-from-palette($primary, search-shadow);

        .mat-mdc-text-field-wrapper.mdc-text-field {
          background-color: mat.get-color-from-palette($primary, search-background);
        }

        .mat-mdc-form-field-icon-prefix {
          background-color: mat.get-color-from-palette($primary, search-icon-background);
        }
      }

      o-checkbox {
        border-color: #00000029;
        background-color: mat.get-color-from-palette($primary, checkbox-background);
      }
    }
  }

  .content-container {
    .container-item {
      h4 {
        color: mat.get-color-from-palette($primary, card-title);
      }

      h5 {
        color: mat.get-color-from-palette($primary, doc-btn-color);
      }
    }

    h1 {
      color: mat.get-color-from-palette($primary, content-title);
    }

    h2 {
      color: mat.get-color-from-palette($primary, content-subtitle);
    }
  }

  @if $is-dark {
    mat-grid-tile.mat-grid-tile.ng-star-inserted {
      border: 2px solid mat.get-color-from-palette($primary, card-border);
      box-shadow: none;
      background-color: #242A2E;
    }

    .content-container {
      .container-item {
        .open-icon {
          background-image: url('/assets/images/open_detail_dark.png');
        }
      }
    }
  }

  @else {
    mat-grid-tile.mat-grid-tile.ng-star-inserted {
      box-shadow: 0px 4px 8px 0px mat.get-color-from-palette($primary, card-border);
    }

    .content-container {
      .container-item {
        .open-icon {
          background-image: url('/assets/images/open_detail_light.png');
        }
      }
    }
  }
}