<o-form editable-detail="no" show-header="no" query-on-init="no" class="fill-form">

  <div class="home-container">
    <div fxLayout="column" fxLayoutGap="18px" class="filters">
      <o-search-input #search columns="TITLE;DESCRIPTION" placeholder="Search"></o-search-input>
      <o-column-collapsible attr="filter_templates" title="Filter Templates">
        <o-checkbox attr="CHK_TABLES" label="Tables" read-only="no"></o-checkbox>
        <o-checkbox #enableChk attr="CHK_GRIDS" label="Grids" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_LISTS" label="Lists" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_TREES" label="Trees" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_TAB" label="Tab" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_DIALOG" label="Dialog" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_SPLIT_PANE" label="Split pane" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_CONTAINERS" label="Containers" read-only="no"></o-checkbox>
        <o-checkbox attr="CHK_LOGIN" label="Login" read-only="no"></o-checkbox>
      </o-column-collapsible>
      <o-filter-builder #filterBuilder attr="thefilter" filters="CHK_TABLES;CHK_GRIDS;CHK_LISTS;CHK_TREES" [target]="grid" query-on-change="yes"
        query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>
    </div>
    <div class="content-container">
      <h1>ONTIMIZE WEB</h1>
      <h2>Web application framework based on Angular for building business software.</h2>
      <div fxLayout="row" layout-padding fxLayoutAlign="center center">
        <o-grid #grid columns="ID;IMG;TITLE;DESCRIPTION;TYPE" keys="ID" service="templates" entity="template" show-footer="no" refresh-button="no" quick-filter="no"
        grid-item-height="300px" fxFlex="calc(100% - 42px)" gutter-size="44px" service-type="DummyService">
          <o-grid-item *ngFor="let grd of grid.dataArray">
            <div layout-padding class="container-item" layout-align="center">
              <img [src]="grd.IMG" alt="template-img" height="160px">
              <h4> {{grd.TITLE}} </h4>
              <h5> {{grd.DESCRIPTION}}</h5>
              <img *ngIf="light" src="../../../assets/images/open_detail_light.png" height="15px" width="15px">
              <img *ngIf="!light" src="../../../assets/images/open_detail_dark.png" height="15px" width="15px">
            </div>
          </o-grid-item>
        </o-grid>
      </div>
    </div>
  </div>
</o-form>
