.home-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .filters {
    height: 100%;
    padding: 0 44px 0 100px;
    overflow: auto;
    align-items: center;
    justify-content: center;

    o-checkbox {
      margin-bottom: 6px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

.content-container {
  flex-direction: column;
  max-height: 100%;
  width: 100%;

  .container-item {
    h4 {
      margin-top: 5px;
      margin-left: 10px;
    }

    h5 {
      margin-left: 10px;
    }
  }
}