@use "sass:map";
@use '@angular/material'as mat;
@use 'ontimize-web-ngx/theming/ontimize-style.scss';


/* Color definitions */
$mat-custom-primary: (top-bar: #DADDDF, top-bar-border: #B7BABB, doc-btn-color: #000000BD, doc-bnt-border: #00000061, main-container: #F0F2F4, card-border: #00000040, card-title: #1464A5, search-shadow: #FFFFFF24, search-background: #DADDDF, search-icon-background: #D3D5D6, checkbox-background: #DADDDF, content-subtitle: #1464a5, content-title: #293239, 50 : #e3ecf4, 100 : #b9d1e4, 200 : #8ab2d2, 300 : #5b93c0, 400 : #377bb3, 500 : #1464a5, 600 : #125c9d, 700 : #0e5293, 800 : #0b488a, 900 : #063679, A100 : #a8c7ff, A200 : #75a7ff, A400 : #4286ff, A700 : #2876ff, contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff));

/* Color definitions */
$mat-custom-primary-dark: (top-bar: #28343E, top-bar-border: #5C656C, doc-btn-color: #FFFFFFBD, doc-bnt-border: #FFFFFF61, main-container: #293239, card-border: #2B353D, card-title: #B9D1E4, search-shadow: #FFFFFF24, search-background: #242A2E, search-icon-background: #2A333A, checkbox-background: #242A2E, content-subtitle: #75A7FF, content-title: #FFFFFFDE, 50 : #f1f6fa, 100 : #dce8f2, 200 : #c5d9e9, 300 : #adc9e0, 400 : #9cbed9, 500 : #8ab2d2, 600 : #82abcd, 700 : #77a2c7, 800 : #6d99c1, 900 : #5a8ab6, A100 : #ffffff, A200 : #ebf5ff, A400 : #b8dcff, A700 : #9ed0ff, contrast: (50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #000000, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ));

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent:$primary;
$primary-dark: mat.define-palette($mat-custom-primary-dark);
$accent-dark: $primary-dark;
/* Light theme */



$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary-dark, $accent-dark);